<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="csdws.dasd.dsfcsdfe.mapper.UsersMapper">
    <resultMap type="csdws.dasd.dsfcsdfe.domain.dto.UsersDto" id="UsersDtoResult">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="createdBy" column="created_by" />
        <result property="updateBy" column="update_by" />
        <result property="clientName" column="client_name" />
        <result property="projectNumber" column="project_number" />
        <result property="clientSecret" column="client_secret" />
        <result property="category" column="category" />
        <result property="currentPhase" column="current_phase" />
        <result property="accumulateNumber" column="accumulate_number" />
    </resultMap>
    <select id="findList" resultType="csdws.dasd.dsfcsdfe.domain.eo.Users">
        SELECT * FROM users WHERE 1=1
    </select>

    <update id="deleteByIds">
        UPDATE users set dr=1 where id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>